.nav {
    background-color: white;

    &__list-wrap {
        display: table;
        margin: 0 auto;
        position: relative;

        @include respond(tab-port) {
            display: block;
            position: fixed;
            top: 7rem;
            right: -50rem;
            width: 25vw;
            height: 100%;
            transition: right 1s;
        }
    }

    &__list {
        list-style-type: none;

        @include respond(tab-port) {
            height: 100%;
        }
    }

    &--item {
        display: inline;
        padding-right: 6vw;
        background-color: white;

        @include respond(tab-land) {
            padding-right: 4vw;
        }
        
        @include respond(tab-port) {
            display: inline-block;
            width: 100%;
            z-index: 999;
            padding: 2rem 2rem;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }

        &-last {
            padding-right: 0;
        }

        & > a {
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &:hover &--item:not(:hover) {
        opacity: .3;

        @include respond(tab-land) {
            opacity: 1;
        }
    }

    &--wrap-logout {
        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }

    &__toggle-btn {
        display: none;

        @include respond(tab-port) {
            display: block;
            position: absolute;
            top: 7rem;
            right: 4vw;
            transition: right 1s;

            &--part {
                display: block;
                width: 5vw;
                height: .3rem;
                background: black;
                margin: 1vw 0;
            }
        }
    }
}