.padding-small-right {
    padding: .6rem;
}

.padding-small-right-left {
    padding-right: .6rem;
    padding-left: .6rem;
}

.margin-top-medium {
    margin-top: 5rem !important;
}

.margin-top-small {
    margin-top: 3rem !important;
}