/*
    COLORS
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1.7; }

.header-text {
  font-weight: 300;
  text-decoration: none;
  color: black; }

.padding-small-right {
  padding: .6rem; }

.padding-small-right-left {
  padding-right: .6rem;
  padding-left: .6rem; }

.margin-top-huge {
  margin-top: 15rem !important; }

.margin-top-big {
  margin-top: 10rem !important; }

.margin-top-medium {
  margin-top: 5rem !important; }

.margin-top-small {
  margin-top: 3rem !important; }

.authentication {
  width: 100%;
  display: block;
  text-align: center; }
  .authentication__tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase;
    padding: 2.1rem 1.2rem;
    color: #868686;
    max-width: 44rem;
    margin: 0 auto -2.5rem;
    background-color: white;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: 500; }
    .authentication__tabs--signin {
      background-color: white;
      width: 100%;
      height: 5rem;
      border-right: .1px solid #F4F4F6;
      padding: 1rem 0 1rem 3rem; }
      .authentication__tabs--signin-a {
        color: #454F63 !important; }
      .authentication__tabs--signin__border {
        border-bottom: 0.5rem solid #3497FD;
        opacity: 0;
        padding-top: 9%;
        transition: opacity .3s ease; }
        .authentication__tabs--signin__border-a {
          opacity: 1; }
    .authentication__tabs--register {
      background-color: white;
      width: 100%;
      height: 5rem;
      padding: 1rem 3rem 1rem 0; }
      .authentication__tabs--register-a {
        color: #454F63 !important; }
      .authentication__tabs--register__border {
        border-bottom: 0.5rem solid #3497FD;
        opacity: 0;
        padding-top: 9%;
        transition: opacity .3s ease; }
        .authentication__tabs--register__border-a {
          opacity: 1; }
  .authentication__form {
    background-color: white;
    margin: 6rem auto 0;
    max-width: 44rem; }
    .authentication__form--controls {
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem; }
      .authentication__form--controls-forgot {
        color: #3497FD;
        cursor: pointer; }
      .authentication__form--controls-remember_text {
        cursor: pointer; }
      .authentication__form--controls-remember_switch {
        position: absolute;
        top: 2px;
        margin-left: 1rem; }
    .authentication__form--group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem; }
      .authentication__form--group-text {
        color: #3497FD;
        font-size: 1.4rem;
        text-align: left; }
      .authentication__form--group-input {
        border: none;
        border-bottom: 1px solid #868686;
        outline: none;
        height: 3.2rem;
        line-height: 1;
        font-size: 1.6rem; }
        .authentication__form--group-input_red {
          border-color: #f44336; }
    .authentication__form--error {
      text-align: left;
      font-size: 1.2rem;
      color: #f44336;
      margin-top: .5rem; }
    .authentication__form--terms {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 100;
      line-height: 1.7;
      text-align: left; }
      .authentication__form--terms_text {
        color: #868686; }
      .authentication__form--terms_link {
        color: #3497FD;
        cursor: pointer; }
    .authentication__form--errors {
      height: 2rem;
      color: #f44336;
      font-size: 1.4rem;
      text-align: left;
      margin-top: 1.5rem; }

.button {
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  outline: none;
  cursor: pointer; }
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.65; }
  .button-blue {
    width: 100%;
    background-color: rgba(52, 151, 253, 0.9);
    min-height: 4rem;
    border-radius: 10rem;
    letter-spacing: 3px; }
    .button-blue:hover :not(:disabled) {
      background-color: #3497FD; }

.header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 1s;
  padding: 1.5rem;
  font-size: 1.4rem;
  color: black;
  background-color: white; }
  .header__top {
    display: flex;
    justify-content: space-between;
    padding: .5rem; }
    .header__top--lang-form__item {
      transition: all .4s;
      cursor: pointer; }
    .header__top--lang-form__active {
      font-weight: 600; }
    .header__top--lang-form:hover .header__top--lang-form__item:not(:hover) {
      opacity: .3; }
    .header__top--signin {
      text-transform: uppercase; }
  .header__bottom {
    display: flex;
    justify-content: space-between;
    padding: .5rem; }
    .header__bottom--logo {
      width: 20rem; }
    .header__bottom--right {
      display: flex;
      justify-content: right; }
    .header__bottom--right > * {
      margin-left: 4.8rem; }
  .header__nav {
    display: flex;
    justify-content: space-between; }
    .header__nav--item {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      transition: all .3s; }
    .header__nav:hover .header__nav--item:not(:hover) {
      opacity: .3; }
