.authentication {
    width: 100%;
    display: block;
    text-align: center;

    &__tabs {
        display: flex;
        justify-content: center;
        list-style-type: none;
        font-size: 1.8rem;
        line-height: 1;
        text-transform: uppercase;
        padding: 2.1rem 1.2rem;
        color: $gray;
        max-width: 44rem;
        margin: 0 auto -2.5rem;
        background-color: white;
        cursor: pointer;
        letter-spacing: .1rem;
        font-weight: 500;

        &--signin {
            background-color: white;
            width: 100%;
            height: 5rem;
            border-right: .1px solid #F4F4F6;
            padding: 1rem 0 1rem 3rem;

            &-a {
                color: #454F63 !important;
            }

            &__border {
                border-bottom: .5rem solid $blue;
                opacity: 0;
                padding-top: 9%;
                transition: opacity .3s ease;

                &-a {
                    opacity: 1;
                }
            }
        }

        &--register {
            background-color: white;
            width: 100%;
            height: 5rem;
            padding: 1rem 3rem 1rem 0;

            &-a {
                color: #454F63 !important;
            }

            &__border {
                border-bottom: .5rem solid $blue;
                opacity: 0;
                padding-top: 9%;
                transition: opacity .3s ease;

                &-a {
                    opacity: 1;
                }
            }
        }
    }

    &__form {
        background-color: white;
        margin: 6rem auto 0;
        max-width: 44rem;

        @include respond(phone) {
            padding: 0 3rem;
        }

        &--controls {
            display: flex;
            justify-content: space-between;
            font-size: 1.6rem;

            &-forgot {
                color: $blue;
                cursor: pointer;
            }

            &-remember {

                &_text {
                    cursor: pointer;
                }

                &_switch {
                    position: absolute;
                    top: 2px;
                    margin-left: 1rem;
                }
            }
        }

        &--group {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            &-text {
                color: $blue;
                font-size: 1.4rem;
                text-align: left;
            }

            &-input {
                border: none;
                border-bottom: 1px solid $gray;
                outline: none;
                height: 3.2rem;
                line-height: 1;
                font-size: 1.6rem;

                &_red {
                    border-color: $red;
                }
            }
        }

        &--error {
            text-align: left;
            font-size: 1.2rem;
            color: $red;
            margin-top: .5rem;
        }

        &--terms {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 100;
            line-height: 1.7;
            text-align: left;

            &_text {
                color: $gray;
            }

            &_link {
                color: $blue;
                cursor: pointer;
            }
        }

        &--errors {
            height: 2rem;
            color: $red;
            font-size: 1.4rem;
            text-align: left;
            margin-top: 1.5rem;
        }
    }
}